<div class="container">
  <!-- <div class="navbar">
    <img src="../../assets/logofina.png" alt="" class="logo">
    <div class="textcontainer">
      <p class="text">GasRadar</p>
    </div>
  </div> -->
  <div class="body">
    <div class="sidebar">
      <div class="logobox">
          <img src="../../assets/logofina.png" alt="" class="logo">
          <div class="textcontainer">
            <p class="text">GasRadar</p>
          </div>
      </div>
      <div class="itemlist">
        <p class="item active">
          All Outlets
        </p>
        <p class="item">
            Local Businesses
          </p>
          <p class="item">
              Garages
            </p>
      </div>



    </div>
    <div class="content">
      <div class="navbar">
        <div class="avatarcontainer">
          <img src="../../assets/27540814_10215734287658365_2735885339560353644_n.jpg" alt="" class="avatar">
          <button class="drop"><i class="fas fa-chevron-down"></i></button>
          <span class="noti">12</span>
        </div>
      </div>
      <div class="charts">
        <p class="dashboard">Dashboard</p>
        <p class="subtext">Have a glance of the gas outlet activities</p>
        <div class="cardrow">
          <div class="card">
            <canvas class="chartcont" id="chart"></canvas>
          </div>
          <div class="card">
            <canvas class="chartcont" id="chart1"></canvas>
          </div>
          <div class="card">
            <canvas class="chartcont" id="chart2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>